.inter {
  font-family: var(--font-inter);
}

.container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0 auto;
  align-items: center;
  /* overflow: hidden; */
}

.contacts__title {
  display: flex;
  align-self: center;
  max-width: 100%;
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: center;
  margin: 0 0 40px 0;
  padding: 0px;
  padding-bottom: 5px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dadada;
}

.contacts__info {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  width: 100%;
  height: auto;
  margin-top: 50px;
  /* outline: 1px solid red; */
}

.contacts__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  list-style-type: none;
}

.contacts__form {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}
