.inter {
  font-family: var(--font-inter);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1440px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  padding: 0px 20px;
  margin: 20px auto;
  /* outline: 1px solid red; */
}

.main {
  position: relative;
  max-width: 1140px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  /* outline: 1px solid red; */
}

.title {
  font-weight: 400;
  font-size: 40px;
  line-height: 20px;
  color: white;
  padding: 0;
  margin: 0;
  z-index: 10;
}

/*-- Sign Styles --*/

.sign {
  background: transparent;
  text-align: center;
  padding: 150px 20px;
  max-width: 530px;
  width: 100%;
}
.sign .sign_word {
  font-size: 40px;
  font-weight: bold;
  line-height: 50px;
  color: #fff;
  text-transform: uppercase;
  text-shadow:
    0 -40px 50px rgba(191, 226, 255, 0.7),
    0 0 2px rgba(191, 226, 255, 0.8),
    0 0 1em rgba(191, 226, 255, 0.8),
    0 0 0.5em rgba(191, 226, 255, 0.8),
    0 0 0.1em rgba(191, 226, 255, 0.8);
}
.sign .sign_word span {
  animation: neon-4 ease-in-out infinite 2s;
}
@keyframes neon-4 {
  78% {
    color: inherit;
    text-shadow: inherit;
  }
  79% {
    color: #2e3133;
  }
  80% {
    text-shadow: none;
  }
  81% {
    color: inherit;
    text-shadow: inherit;
  }
  82% {
    color: #2e3133;
    text-shadow: none;
  }
  83% {
    color: inherit;
    text-shadow: inherit;
  }

  83% {
    color: #2e3133;
    text-shadow:
      0 0 0.8em #bfe2ff,
      0 0 0.4em #bfe2ff,
      0 0 0.2em #bfe2ff;
    transform: scale(1.05);
  }
  86% {
    color: inherit;
    text-shadow: inherit;
    transform: scale(1);
  }
  90% {
    color: #2e3133;
    text-shadow: none;
    transform: scale(1.1);
  }
  92% {
    color: inherit;
    text-shadow: inherit;
    transform: scale(1);
  }

  92% {
    color: #2e3133;
    text-shadow: none;
  }
  92.5% {
    color: inherit;
    text-shadow: inherit;
  }
  92.75% {
    color: #2e3133;
    text-shadow: none;
  }

  93% {
    color: inherit;
    text-shadow: inherit;
  }

  94% {
    color: #2e3133;
    text-shadow: none;
  }

  95% {
    color: inherit;
    text-shadow: inherit;
  }
}

@media screen and (max-width: 426px) {
  .sign .sign_word {
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
  }
}
