.inter {
  font-family: var(--font-roboto);
}

/* .container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  height: 400px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
} */

.container {
  position: relative;
  max-width: 1140px;
  width: 100%;
  height: auto;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  margin: 0 auto;
  align-items: center;
  overflow: hidden;
}

/* @media screen and (max-width: 430px) {
  .about-me__container {
    margin: 0px;
  }
} */

.profile__title {
  color: #fff;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.5px;
  text-align: left;
  margin: 0px;
  padding: 0px;
  padding-bottom: 10px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  border-bottom-color: #dadada;
}

/* @media screen and (max-width: 430px) {
  .about-me__title {
    font-size: 18px;
    letter-spacing: -0.72px;
    padding-bottom: 28px;
  }
} */

.profile__content {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 80px;
  margin: 100px 0px 0px 0px;
  justify-content: space-between;
  /* overflow: hidden; */
}

.profile__info {
  position: relative;
  max-width: 500px;
  text-align: left;
  overflow: hidden;
}

.profile__header {
  /* position: relative; */
  color: #dedada;
  font-size: 40px;
  font-style: normal;
  font-weight: 600;
  line-height: 58px;
  letter-spacing: -2px;
  margin: 0px;
  max-width: 600px;
  text-align: left;
}

.profile__subheader {
  /* position: relative; */
  color: #dedada;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 20px;
  text-align: left;
  margin: 18px 0px 26px 0px;
}

.profile__description {
  position: relative;
  color: #c5c9c9;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: 22px;
  margin: 0px 0px 20px 0px;
}

.paragraph2 {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid rgb(117, 115, 115);
}
.paragraph4 {
  margin-left: 5px;
  padding-left: 10px;
  border-left: 1px solid rgb(117, 115, 115);
}
.paragraph5 {
  margin: 0;
}

.profile__imageBlock {
  position: relative;
  display: flex;
  align-self: top;
  width: 300px;
  height: 300px;
  margin-top: 30px;
  border-radius: 10%;
  background-color: #3a3737;
  transition:
    background-color 0.3s ease-in-out,
    border-radius 0.3s ease-in-out;
}

.profile__imageBlock:hover {
  background-color: bisque;
  border-radius: 50%;
}

.profile__image {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 260px;
  height: 365px;
  border-bottom-right-radius: 30%;
  border-bottom-left-radius: 10%;
  background-image: url(/img/profile-image.png);
  background-size: cover;
  transition:
    transform 0.3s ease-in-out,
    left 0.3s ease-in-out,
    bottom 0.3s ease-in-out;
}
.profile__image:hover {
  transform: scale(1.08);
  left: -7px;
  bottom: 10px;
}
/* @media screen and (max-width: 1024px) {
  .about-me__photo {
    width: 255px;
    height: 307px;
  }
}
@media screen and (max-width: 767px) {
  .about-me__photo {
    grid-row: 1;
    width: 292px;
    height: 352px;
    margin: 0px auto;
  }
}
@media screen and (max-width: 430px) {
  .about-me__photo {
    grid-row: 1;
    max-width: 430px;
    width: 100%;
  }
} */
